GOOGLE_ID = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXX.apps.googleusercontent.com"
GOOGLE_SECRET = "XXXXXXXXXXXXXXXXXXXXXXX"
DOMAIN_SECRET = "DOMAIN SECRET"
SITE_NAME = "Your Site"
RESTRICTED_DOMAIN = "example.com"

# Password settings
PASS_MIN_LENGTH = 10
PASS_BAD_WORDS = ['password', 'abc123']
