GOOGLE_ID = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXX.apps.googleusercontent.com"
GOOGLE_SECRET = "XXXXXXXXXXXXXXXXXXXXXXX"
DOMAIN_SECRET = "DOMAIN SECRET"
SITE_NAME = "Your Site"
RESTRICTED_DOMAIN = "example.com"

# Special users who *cannot* use this service.
PROHIBITED_USERS = ['special_user']

# Password settings
PASS_MIN_LENGTH = 10
PASS_BAD_WORDS = ['password', 'abc123']

# Samba info
SAMBA_PATH = "DC=EXAMPLE,DC=COM"
