
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site_name }} &mdash; Change Password</title>

    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="bootstrap.min.css" />
</head>
<body>

<!--
{% block debug %}
{% endblock %}
-->

<div class="container">

    <div class="row">
        <div class="col-lg-12">

            {% if session.google_token %}{% endif %}

            <h1>Change Password <small> {{ site_name }}</small></h1>
            <hr /><br>

            {% block maincontent %}
            <br>
            <div class="text-center">
                <a href="/login"><img src="sign-in-google.jpg"></a>
            </div>

            {% endblock %}
            <br>
        </div>
    </div>


    <!-- Footer -->

    <div class="row">
        <div class="col-md-12">
            <hr />
            <div class="row">
                <div class="col-md-6 small gray">
                    <p>An open-source project by <a href="https://nick.semenkovich.com">Nick Semenkovich</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
