{% extends "_base.html" %}

{% block debug %}
{{ auth_data }}
{% endblock %}
{% block maincontent %}
<div class="row">

    <!-- Main Blog Content -->
    <div class="large-8 columns" role="content">
        <article>
            <center>
                <h4>Changing Password for {{ auth_data.name }} </h4>
                <h6>(Username: {{ username }})</h6>
            </center>
            <br><br>

            <form>
                <div class="row">
                    <div class="large-8 columns">
                        <div class="row collapse prefix-radius">
                            <div class="small-4 columns">
                                <span class="prefix">Password: </span>
                            </div>
                            <div class="small-8 columns">
                                <input type="password" placeholder="Value" id="password">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-8 columns">
                        <div class="row collapse prefix-radius">
                            <div class="small-4 columns">
                                <span class="prefix">Confirm: </span>
                            </div>
                            <div class="small-8 columns">
                                <input type="password" placeholder="Value">
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="button">Change Password</a>
            </form>

            <hr />

            {#         <div class="row">
            <div class="large-6 columns">
                <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.</p>
                <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
            </div>
        </div> #}

            <p>Note: You <u>must</u> leave this window open until you're done with your remote desktop session.</p>

            <p>When you're done, be sure to <a href="/logout">logout</a>.</p>

        </article>

        <hr />

    </div>

    <!-- End Main Content -->


    <!-- Sidebar -->

    <aside class="large-4 columns">
        <div class="panel">
            <h5>Password Requirements</h5>
            <ul>
                <li>{{ minlength }} characters or more</li>
                <li>Cannot contain your username</li>
                <li>Cannot contain these words: </li>
                <ul>
                    {% for item in badwords %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </ul>
        </div>
    </aside>

    <!-- End Sidebar -->
</div>


<script src="jquery.min.js"></script>
<script src="pwstrength-bootstrap-1.2.2.js"></script>
<script src="bootstrap.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        "use strict";
        var options = {};
        options.ui = {
            showPopover: true,
            showErrors: true,
            showProgressBar: false
        };
        options.rules = {
            activated: {
                wordTwoCharacterClasses: true,
                wordRepetitions: true
            }
        };
        $('#password').pwstrength(options);
    });
</script>
{% endblock %}